
* {
    box-sizing: border-box;
    font-family: cursive;

  }

header {
    font-size: 2vw;
}

body {
    background-color: #252525ea;
    /* for smaller screens */
    display: flex;
    flex-direction: column;

}

.hero {
    background-image: url(../assets/images/beer_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-size: 3vw;
    display: flex;
    color:aliceblue;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
    align-items: center;
}


nav {
    background-color: #252525ea;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
nav a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color:lightskyblue;
}
a {
    text-decoration: none;
    color:lightskyblue;
}
a:hover {
    color:white;
}
.locate {
    background-color: #252525ea;
    height: auto;
    text-align: center;
    font-size: 2vw;
}

.locate h2, .locate div, .form {
    display: flex;
    justify-content: center;
    
}

.locate h2 {
    font-size: 2.5vw;
    color: aliceblue;
}

.form  {
    display: block;
    margin-bottom: 10px;
}

.form div {
    margin-bottom: 10px;
}

.location-input {
    font-size: 16px;
}

.select-dropdown {
    padding: 3px;
    font-size: 16px;
}

.btn {
    margin: 12px;
    font-size: 18px;
}

/*Footer section*/
footer {
    background-color: white;   
}

.flex-container {
display:flex;
}

.flex-child {
    flex:1;
    border: 0;
}

.flex-child:firstchild  {
    margin-right: 150px;
}

.flex-child {
    text-align:center; 
    justify-content: space-around;
    color: lightslategrey;
}

/* map section */
.map-container{
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction:column;
    position:relative; left:80px; bottom: 250px;
    margin-right: 150px ;
}


.credit-h1 {
    font-size: 2.25vw;
    text-align: center;
    color: lightslategrey;
}

.name {
    color: lightskyblue;
    display: block;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.5vw;
    text-align: center;
}
.credit {
    display: flex;
    background-color: white;
    justify-content: space-around;
}
main {
    text-align: center;
    font-size: 2vw;
    color:antiquewhite;
}
input {
    border-radius: 2vw;
    padding: 10px 10px;
    border: none;
    color: #252525ea;
    font-size: 1.5vw;
    text-align: center;
}
button {
    color: aliceblue;
    background-color: #252525ea;
    border: 2px solid aliceblue;
    border-radius: 2vw;
    padding: 10px 60px;
    font-size: 1.5vw;
}
button:hover {
    background-color: aliceblue;
    color: #252525ea;
    border: 2px solid #252525ea;
}
.breweryBox {
    border: 5px solid aliceblue;
}
